<div class="row playlist-field">
  <div class="col-xs-4 col-md-4 col-md-offset-1">{{title}}</div>
  <div class="col-xs-3 col-md-3">{{artist}}</div>
  <div class="col-xs-3 col-md-3">{{album}}</div>
  <div class="col-xs-1 col-md-1">{{duration}}</div>
</div>
